@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {

    font-family: "Mali", cursive;
    background: linear-gradient(90deg, rgb(34, 192, 213) 0%, rgba(61,91,223,1) 53%, rgba(61,138,223,1) 100%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {

    top: 50px;
    position: relative;
    background: #fff;
    max-width: 600px;
    height: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;

}

.container h1 {

    text-align: center;
    text-transform: uppercase;

}

.form-group {

    margin-bottom: 15px;

}

.arrow {

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: 0.3s;
    position: relative;
    left: 20px;
    transition: 0.5s ease;

}

.arrow:hover {

    color:wheat;

}

