@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html, body {

    font-family: "Mali", cursive;
    margin: 0;
    padding: 0;

}

:root {

    --skyBlue: rgba(3,227,255,1) 25%;
    --Blue: rgb(33, 98, 168) 100%;
    --white: #fff;
    --black: #000;
    --Border: 2rem solid var(--black);
    --boxShadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --lightBG: #f5f5f5;
}

*::selection {
    background-color: rgb(33, 98, 168) 100%;
}

*::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(33, 98, 168) 100%;
}

.header {

    background: linear-gradient(90deg, rgba(3,227,255,1) 0%, rgb(33, 98, 168) 100%);
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.header h1 {
    
    text-transform: uppercase;
    font-size: 2rem;
    
}

.header h1 a {

    text-decoration: none;
    color: rgb(170, 170, 170);

}

.header h1 span {

    color: #000000;

}

.header ul li {

    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px;
}

.header ul li a{

    color:rgb(255, 255, 255);
    text-decoration: none;

}

.header ul li a .l{

    transition: 0.3s;

}

.header ul li a .l:hover{

    color:#F0B67F;

}

.header ul li a .r {

    transition: 0.3s;

}

.header ul li a .r:hover{

    color:#C7EFCF;

}

.header .navbar {

    font-size: 1.2em;

}

.header .navbar a {

    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    padding: 15px 20px;
    transition: 0.3s;

}

.header .navbar a:hover {

    color: #F0B67F;

}

.header .icons div {

    margin-left: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    
}

.header .icons div:hover {

    color: #F0B67F;

}

.header .account-box {

    position: absolute;
    top: 120%;
    right: 2rem;
    width: 15rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    display: none;
    animation: fadeIn 0.3s linear;
    background-color: rgb(124, 101, 101);
    padding-top: 5px;
    
}

.header .account-box.active{

    display: inline-block;

}

.header .account-box span {

    color: white;

}

.header .account-box .delete-btn  {

    background: rgb(167, 10, 10);
    border-radius: 0.5rem;
    padding: 10px;  
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;

}

.header .account-box .delete-btn:hover {

    background: #C7EFCF;
    color: rgb(175, 81, 81);
}

@keyframes fadeIn {
    0% {
      transform: translateY(1rem);
      opacity: 0.2s;
    }
}

/* dashboard */

.dashboard h1 {
    
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 10px;
    
}

.dashboard .box-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 5rem));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;

}

.dashboard .box-container .box {

    border-radius: .5rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: var(--boxShadow);
    border: var(--border);
    text-align: center;

}

.dashboard .box-container .box h3{
    font-size: 2rem;
    color:var(--black); 
}

.dashboard .box-container .box p {

    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: var(--lightBG);
    color: rgb(31, 47, 123);
    font-size: 1rem;
    border-radius: .5rem;
    border: var(--border);

}

.dashboard .modal-dialog form .modal-body label {

    width: 100%;
    margin: 2px;
    padding: 3px;
    font-weight: bold;

}

.dashboard .modal-dialog form .modal-body input, select, textarea {

    width: 75%;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dashboard .show-content .table {

    padding: 50px;

}

